@inject IJSRuntime JsRuntime
@using Microsoft.JSInterop

@{
    var size = Size == Size.Small ? "small" : "";
}

<div id="@ElementId" class="text-box @size @Class">

    @if (AllowEditModal)
    {       
        <div class="d-none d-xl-block">
            <div class="form-group">

                @if (!string.IsNullOrEmpty(Title))
                {
                    <label class="title">
                        @Title
                        @if (!string.IsNullOrEmpty(SubTitle))
                        {
                            <span class="subtitle small">@SubTitle</span>                        
                        }
                    </label>  
                }

                @if (Enabled)
                {
                    <input id="@InputElementId" type="@InputType" name="@InputName" class="form-control form-control-sm"
                           @bind-value="@Value"
                           @bind-value:event="oninput"
                           @onfocusout="FocusLost"
                           @onkeypress="(o) => ValueSubmitted(o)"
                           spellcheck="@SpellCheck"
                           autocomplete="off" placeholder="@PlaceHolder">
                }
                else
                {
                    <input id="@InputElementId" type="@InputType" name="@InputName" class="form-control form-control-sm"
                           Value="@Value"
                           spellcheck="@SpellCheck"
                           autocomplete="off" placeholder="@PlaceHolder" disabled>
                }

                @if (!string.IsNullOrEmpty(Message))
                {
                    <label class="message">@Message</label>
                }
            </div>
        </div>
        <div class="d-xl-none">
            @if (!modalVisible)
            {
                <div class="form-group">
                    <label class="title">@Title</label>
                    <input id="@InputElementId" type="@InputType" name="@InputName" class="form-control form-control-sm"
                           @bind-value="@Value"
                           @bind-value:event="oninput"
                           @onfocusout="FocusLost"
                           @onclick="ValueClicked"
                           @onkeypress="(o) => ValueSubmitted(o)"
                           spellcheck="@SpellCheck"
                           autocomplete="off" placeholder="@PlaceHolder">
                    @if (!string.IsNullOrEmpty(Message))
                    {
                        <label class="message">@Message</label>
                    }
                </div>
            }
            else
            {
                <Modal Visible="@modalVisible">
                    <HeaderContent>
                        <span class="title">@Title</span>
                    </HeaderContent>
                    <BodyContent>
                        <div class="px-4 py-2">
                            <input id="@modalTextElementId" type="@InputType" name="@InputName" class="form-control form-control-lg"
                                   @bind-value="@Value"
                                   @bind-value:event="oninput"
                                   @onfocusout="FocusLost"
                                   @onkeypress="(o) => ValueSubmitted(o)"
                                   spellcheck="@SpellCheck"
                                   autocomplete="off" placeholder="@PlaceHolder">
                        </div>
                    </BodyContent>
                    <FooterContent>
                        <button class="btn btn-secondary" @onclick="CloseModal"><span class="icon fas fa-times"></span>Cancel</button>
                        <button class="btn btn-primary" @onclick="ModalValueSubmitted"><span class="icon fas fa-check"></span>Submit</button>
                    </FooterContent>
                </Modal>
            }
        </div> 
    }
    else
    {
        <div class="form-group">

            @if (!string.IsNullOrEmpty(Title))
            {
                <label class="title">
                    @Title
                    @if (!string.IsNullOrEmpty(SubTitle))
                    {
                        <span class="subtitle small">@SubTitle</span>                        
                    }
                </label>  
            }
            
            @if (Enabled)
            {
                <input id="@InputElementId" type="@InputType" name="@InputName" class="form-control form-control-sm"
                       @bind-value="@Value"
                       @bind-value:event="oninput"
                       @onfocusout="FocusLost"
                       @onkeypress="(o) => ValueSubmitted(o)"
                       spellcheck="@SpellCheck"
                       autocomplete="off" placeholder="@PlaceHolder">
            }
            else
            {
                <input id="@InputElementId" type="@InputType" name="@InputName" class="form-control form-control-sm"
                       Value="@Value"
                       spellcheck="@SpellCheck"
                       autocomplete="off" placeholder="@PlaceHolder" disabled>
            }

            @if (!string.IsNullOrEmpty(Message))
            {
                <label class="message">@Message</label>
            }
        </div>
    }

</div>


@code {

    private readonly string modalTextElementId = Guid.NewGuid().ToString();
    private bool modalVisible = false;
    private string _value;
    private string previousValue;


    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public bool AllowEditModal { get; set; } = false;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SubTitle { get; set; }

    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (value != previousValue)
            {
                _value = value;
                previousValue = _value;

                var val = _value;
                if (!string.IsNullOrEmpty(val))
                {
                    if (!string.IsNullOrEmpty(Prefix)) val = Prefix + val;
                    if (!string.IsNullOrEmpty(Suffix)) val = val + Suffix;
                }

                if (InputChangeType == InputChangeType.OnValueChange)
                {
                    ValueChanged.InvokeAsync(val);
                }
            }
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public EventCallback<string> Submitted { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; }

    [Parameter]
    public string Prefix { get; set; }

    [Parameter]
    public string Suffix { get; set; }

    [Parameter]
    public string ElementId { get; set; }

    [Parameter]
    public string InputElementId { get; set; }

    [Parameter]
    public string InputType { get; set; } = "search";

    [Parameter]
    public string InputName { get; set; }

    [Parameter]
    public InputChangeType InputChangeType { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string SpellCheck { get; set; } = "true";

    [Parameter]
    public Size Size { get; set; }


    protected override async void OnAfterRender(bool firstRender)
    {
        if (modalVisible)
        {
            try
            {
                await JsRuntime.InvokeVoidAsync("JsFunctions.focusElement", modalTextElementId);
            }
            catch (Exception) { }
        }
    }


    private async void ValueClicked()
    {
        modalVisible = true;
        previousValue = Value;

        await InvokeAsync(StateHasChanged);
    }

    private async void ModalValueSubmitted()
    {
        modalVisible = false;
        previousValue = null;

        await InvokeAsync(StateHasChanged);
    }

    //private async void ValueUpdated(ChangeEventArgs args)
    //{
    //    if (args != null)
    //    {
    //        Value = args.Value?.ToString();

    //        var value = Value;
    //        if (!string.IsNullOrEmpty(value))
    //        {
    //            if (!string.IsNullOrEmpty(Prefix)) value = Prefix + value;
    //            if (!string.IsNullOrEmpty(Suffix)) value = value + Suffix;
    //        }

    //        if (InputChangeType == InputChangeType.OnValueChange)
    //        {
    //            await ValueChanged.InvokeAsync(value);
    //        }
    //    }
    //}

    private async void FocusLost(FocusEventArgs args)
    {
        if (InputChangeType == InputChangeType.OnLostFocus)
        {
            await ValueChanged.InvokeAsync(Value);
        }
    }

    private async void ValueSubmitted(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" && !args.ShiftKey)
        {
            if (InputChangeType == InputChangeType.OnLostFocus)
            {
                await ValueChanged.InvokeAsync(Value);
            }

            await Submitted.InvokeAsync(Value);
        }

        //if ((args.Code == "Enter" || args.Code == "NumpadEnter") && !args.ShiftKey)
        //{
        //    if (InputChangeType == InputChangeType.OnLostFocus)
        //    {
        //        await ValueChanged.InvokeAsync(Value);
        //    }

        //    await Submitted.InvokeAsync(Value); 
        //}
    }

    private async void CloseModal()
    {
        modalVisible = false;
        Value = previousValue;

        await InvokeAsync(StateHasChanged);
    }

}
